{% extends 'base.html' %}

{% block content %}
	
{% for message in get_flashed_messages() %}
	
	<div class="alert alert-success alert-dismissible fade show" role="alert"> {{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}

<div class="shadow p-3 mb-5 bg-body rounded">
	<h2>{{ post.title }}</h2>
	By: {{ post.poster.name }}<br />
	Date: {{ post.date_posted }}<hr />
	{{ post.content|safe }}<br />

	{% if post.poster.about_author %}

		{{ post.poster.about_author }}<br />
	
	{% endif %}
</div>

{% if post.poster_id == current_user.id %}

	<a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Edit Post</a>

	<a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a>

{% endif %}

	<a href="{{ url_for('posts') }}" class="btn btn-outline-secondary btn-sm">Back to Blog</a>

{% endblock %}